* {
    box-sizing: border-box;
}

html {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url("ironfoot.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.txt-speechbox {
    font-family: Skranji-Bold;
    border: double 1rem transparent;
    background-image: linear-gradient(rgba(102,81,36,0.6), rgba(102,81,36,0.6)), linear-gradient(135deg, rgba(225,202,170,1), rgba(109,105,81,1), rgba(166,150,114,1));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-radius: 2rem 2rem 0px 2rem;
    padding: 1.2rem;
    position: absolute;
    left: 37%;
    top: 15%;
}

.txt-protest {
    color: #f7eede;
}

@media screen and (orientation: portrait) {
    #plate {
	  width: 5vw;
	  height: 5vw;
    }

    .txt-speechbox {
	  border: double 1vw transparent;
	  left: 20%;
	  top: 12%;
    }

    .txt-protest {
	  font-size: calc(8px + 2vw);
    }
}

@font-face {
    font-family: Skranji-Bold;
    src: url(fonts/Skranji-Bold.ttf);
}

@media screen and (orientation: landscape) {
    #plate {
	  width: 5vh;
	  height: 5vh;
    }

    .txt-speechbox {
	  border: double 1vh transparent; 
	  left: 25%;
	  top: 15%;
    }

    .txt-protest {
	  font-size: calc(8px + 2vh);
    }
}
